@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'KoHo', sans-serif; 
    overflow-y: auto;

}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.titulo{
color: #a52a2a;
font-size: 30px;
text-align: center;
margin-bottom: 60px;
}

.textos-header >img {
display: block;
margin: auto;
width: 100px;
height: 87px;

}

#seconds{

    

}